.location-box
  border-radius 3px
  overflow hidden
  display block
  background-color color-black
  background-size cover
  background-position center center
  position relative
  text-shadow rgba(0, 0, 0, .4) 0 2px 0
  min-height 150px
  position relative
  text-align center

  &:after
    full-cover()
    content ''
    background rgba(0, 0, 0, .7)
    opacity .4
    transition opacity .2s

  .detail
    position relative
    z-index 1
    position absolute
    left 0
    bottom 0
    width 100%
    padding 20px
    box-sizing border-box
    background linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5))
    bottom -40px
    transition bottom .2s

    h4, p
      color color-white
      font-weight 100

    p
      max-height 58px
      overflow hidden
      display -webkit-box
      -webkit-line-clamp 3
      -webkit-box-orient vertical
      font-size 14px

    p, .button-group
      opacity 0
      transition opacity .2s

    h4
      margin-bottom 10px
      font-size 25px

    .button-group
      margin-bottom 15px

  &:hover

    &:after
      opacity 1

    .detail
      bottom 0

    h4, p, .button-group
      opacity 1