.template-display
  cover-size = 120px

  position relative

  &.with-cover
    padding-left cover-size + 30px

  .tag
    margin-left 10px

  .actions
    position absolute
    right 0
    top 50%
    transform translateY(-50%)
    text-align right
    padding 20px 40px
    opacity 0
    transition opacity .2s

  &:hover .actions
    opacity 1

  .cover
    position absolute
    left 0
    top 0
    width cover-size
    height 100%
    background-color color-gray
    background-position center center
    background-size cover
    background-repeat no-repeat

.template-editor, .template-display

  &.active
    border-left 5px solid color-brand

.template-editor

  img.cover
    border-radius 3px
    width 100%
    margin-bottom 10px
