# Node
node_modules
npm-debug.log*

# Ops
deploy

# App
config/development.json
config/production.json
config/staging.json
config/local.json
uploads/*
b!tmp/.gitkeep
website.json
tmp

# Build
www/css/styles.css
www/js/index.js
www/*.html
www/*/*.html
www/*/*/*.html

# OSX
**.DS_Store