# Node
node_modules
npm-debug.log*

# App
config/development.json
config/production.json
config/staging.json
config/local.json
uploads/*
tmp/upload_*
schema.json

# Examples
examples

# OSX
**.DS_Store