.view-dashboard

  .dashboard-menu
    debullet()
    split-by(2, 'li', 10px)

    a
      display block
      border 1px solid rgba(0, 0, 0, .1)
      border-radius 3px
      padding 20px 30px
      text-align center
      font-size 13px
      font-weight bold
      font-weight normal
      color color-black
      transition color, background .2s

      &:hover
        background color-black
        color color-white