header(:class='{ open: open, reduced: Object.keys(config.schema.types).length > 4 }'): .page-width

    a.logo(:href='link("/")'): h4 {{ config.schema.title || 'Nimda' }}

    nav: .page-width
        a(
            v-if='user && user.groups && user.groups.indexOf("admin") !== -1'
            v-for='(type, key) in config.schema.types',
            :class='{ active: segment(path, 0) === key }',
            :href='link("/" + key + "/list")'
            ) {{ type.label | pluralise }}
        a(v-if='user', :href='link("/statics")', :class='{ active: path === "/statics" }') Statics
        a(v-if='user', :href='link("/user/settings")', :class='{ active: path === "/user/settings" }') Settings
        a(v-if='user', v-on:click.prevent='logout()') Logout

        a(v-if='!user', :href='link("/sign-in")', :class='{ active: path === "/sign-in" }') Login

    .toggle(:class-='{ open: open }', v-on:click.prevent='toggle()'): .hamburger
        span
        span
        span
        span
        span
        span