header(:class='{ open: open, reduced: Object.keys(schema.types).length > 4 }'): .page-width

    a.logo(href='/'): h4 {{ schema.title }}

    nav: .page-width
        a(
            v-if='user && user.groups && user.groups.indexOf("admin") !== -1'
            v-for='(type, key) in schema.types',
            :class='{ active: segment(path, 0) === key }',
            :href='"/" + key + "/list"'
            ) {{ type.label | pluralise }}
        a(v-if='user', href='/statics', :class='{ active: path === "/statics" }',) Statics
        a(v-if='user', href='/user/settings', :class='{ active: path === "/user/settings" }',) Settings
        a(v-if='user', v-on:click.prevent='logout()') Logout

        a(v-if='!user', href='/sign-in', :class='{ active: path === "/sign-in" }') Login

    .toggle(:class-='{ open: open }', v-on:click.prevent='toggle()'): .hamburger
        span
        span
        span
        span
        span
        span