header(:class='{ open: open }'): .page-width

    a.logo(href='/'): h4 {{ config.title }}

    nav
        a(
            v-for='(type, key) in config.types',
            :class='{ active: segment(path, 0) === key }',
            :href='"/" + key + "/list"'
            ) {{ type.label | pluralise }}
        a(v-if='user', v-on:click.prevent='logout()') Logout