.field-input(:class='type')

    input.block(v-if='type === "name" || type === "title"', type='text', v-bind:value='value', v-on:input='updateValue($event.target.value)')
    input.block(v-if='type === "email"', type='email', v-bind:value='value', v-on:input='updateValue($event.target.value)')
    input.block(v-if='type === "url"', type='url', v-bind:value='value', v-on:input='updateValue($event.target.value)')
    input.color.block(v-if='type === "color"', type='text', v-bind:value='value', :style='{ "background-color": value }', v-on:input='updateValue($event.target.value)')
    input.block(v-if='type === "password"', type='password', v-bind:value='value', v-on:input='updateValue($event.target.value)')
    textarea.block(v-if='type === "content"', v-bind:value='value', v-on:input='updateValue($event.target.value)')

    .file-input(v-if='type === "image" || type === "file"')
        img.image(v-if='value && type === "image"', :src='value')
        input.file-hidden(type='file', v-on:change='updateValue($event.target.files[0])')
        a.button.small(v-on:click.prevent='chooseFile') Choose
        span.file-display(v-if='value') {{ value.name || value }}