.field-display(:class='type')
    template(v-if='type === "name" || type === "content" || type === "name"') {{ value }}
    .image(v-if='type === "image"', :style='value ? { "background-image": "url(" + value + ")" } : null')