.pagination

    button.left(v-on:click='goTo(pagination.page - 1)', :class='{ disabled: pagination.isFirst }')
        | &laquo; Previous

    span.display Page {{ pagination.page }} of {{ pagination.pages}}

    button.right(v-on:click='goTo(pagination.page + 1)', :class='{ disabled: pagination.isLast }')
        | Next &raquo;