.view-type-list

    section.full-height(v-if='type'): .inner: .page-width

        h3.crumbs.center
            a(:href='link("/")') Types
            span {{ type.label | pluralise }}

        .box.error.center(v-if='error') {{ error }}

        p.center(v-if='entries && entries.length'): a(:href='link("/" + type.key + "/add")') + New {{ type.label }}

        .box.empty.center(v-if='entries && !entries.length')
            | No {{ type.key }} were added yet. 
            a(:href='link("/" + type.key + "/add")') Add one &raquo;

        .table.table-list(v-if='entries && entries.length')

            .thead: .tr
                .th(v-for='field in type.schema', v-if='!field.secondary') {{ field.label }}
                .th.actions

            .tbody: template(v-for='entry in entries')
                .tr.clickable(:id='entry.id', v-on:click='editEntry(entry.id)')

                    .td(v-for='(field, key) in type.schema', :class='type.schema[key].type', v-if='!field.secondary')
                        field-display(:value='entry[key]', :type='type.schema[key].type')

                    .td.actions: .button-group

                        button(v-on:click.prevent.stop='editEntry(entry.id)')
                            | &#x270E;
                            .hover-tooltip Edit

                        button.alt(v-on:click.prevent.stop='moveEntry(entry.id, "up")')
                            | &#x2191;
                            .hover-tooltip Move up

                        button(v-on:click.prevent.stop='moveEntry(entry.id, "down")')
                            | &#x2193;
                            .hover-tooltip Move down

                        button.alt(v-on:click.prevent.stop='cloneEntry(entry.id)')
                            | &#9901;
                            .hover-tooltip Duplicate

                        button.danger(v-on:click.prevent.stop='deleteEntry(entry.id)')
                            | x
                            .hover-tooltip Delete

        pagination(v-if='pagination && pagination.pages > 1', :pagination='pagination', :path-format='"/" + type.key + "/list/page-:page"')

        .center(v-if='loading'): .spinner