.view-type-list

    section.full-height(v-if='type'): .inner: .page-width

        h3.center {{ type.label | pluralise }} &raquo; List

        .box.error.center(v-if='error') {{ error }}

        p.center(v-if='entries && entries.length'): a(:href='"/" + type.key + "/add"') + New {{ type.label }}

        .box.empty.center(v-if='entries && !entries.length')
            | No {{ type.key }} were added yet. 
            a(:href='"/" + type.key + "/add"') Add one &raquo;

        .table.table-list(v-if='entries && entries.length')

            .thead: .tr
                .th(v-for='field in type.schema', v-if='!field.secondary') {{ field.label }}
                .th.actions

            .tbody: .tr(v-for='entry in entries', :id='entry.id')

                .td(v-for='(field, key) in type.schema', :class='type.schema[key].type', v-if='!field.secondary')
                    field-display(:value='entry[key]', :type='type.schema[key].type')

                .td.actions: .button-group
                    a.button(:href='"/" + type.key + "/edit/" + entry.id') &#x270E;
                    a.button(v-on:click.prevent='moveEntry(entry.id, "up")') &#x2191;
                    a.button(v-on:click.prevent='moveEntry(entry.id, "down")') &#x2193;
                    button.danger(v-on:click.prevent='deleteEntry(entry.id)') x

        pagination(v-if='pagination && pagination.pages > 1', :pagination='pagination', :path-format='"/" + type.key + "/list/page-:page"')

        .center(v-if='loading'): .spinner