$button
  vertical-rhythm()
  horizontal-rhythm()
  no-select()
  border-radius 3px
  border 0
  cursor pointer
  padding 16px 24px
  display inline-block
  box-sizing border-box
  font-size 15px
  font-family font-base
  text-transform uppercase
  transition background-color .2s, opacity .2s, color .2s, border .2s, box-shadow .2s
  font-weight 100
  smooth-font(false)

button-color(base-color = color-white, text-color = color-brand)
  darker-tone = darken(base-color, 6)

  background-color base-color
  color text-color
  box-shadow rgba(base-color, .2) 0 0 0 0

  &:hover, &.hover

    &:not(.disabled)
      background-color lighten(base-color, 5)

  &.framed
    background transparent
    color base-color

  &:focus:not(.disabled)
    box-shadow rgba(base-color, .2) 0 0 0 3px

button, .button, input[type='submit'], input[type='reset']
  @extend $button

  button-color(color-black, color-white)

  &.small
    padding 10px 15px
    font-size 11px

  &.large
    padding 18px 30px
    font-size 18px

  &.massive
    padding 22px 80px
    font-size 22px

  &.block
    display block
    width 100%
    text-align center

  &.alt
    button-color(lighten(color-black, 20), color-white)

  &.brand
    button-color(color-brand, color-white)

  &.cta
    button-color(color-cta, color-white)

  &.framed-icon
    size = 50px

    padding-left (size + 10px)
    padding-right @padding-left
    position relative

    i
      position absolute
      left 0
      top 0
      width size
      line-height size
      text-align center
      border-right 1px solid rgba(#fff, .2)

  &.linkedin
    button-color(color-linkedin, color-white)

  &.success
    button-color(color-success, color-white)

  &.danger
    button-color(color-danger, color-white)

  &.white
    button-color(color-white, color-black)

    &, &:hover
      border 1px solid color-gray-light

  &.disabled
    button-color(color-gray-dark, color-gray-lightest)

  .icon-caret-right
    margin-right -10px

  .icon-caret-left
    margin-left -10px

  &.small-space
    margin 0
    margin-bottom 10px

    &:last-child
      margin-bottom 0

.button-group
  vertical-rhythm()
  no-select()
  
  button, .button, input[type='submit'], input[type='reset']
    margin-right 0
    margin-bottom 0
    border-radius 0
    margin-right -6px
    margin-bottom 0

    &:not(:last-child)
      border-right 0

    &:first-child
      border-radius 3px 0 0 3px

    &:last-child
      border-radius 0 3px 3px 0
      margin-right 0

    &:first-child:last-child
      border-radius 3px