.field-input

  .file-input
    position relative
    text-align center
    width 100%

  .image
    max-width 100%
    margin auto
    display block
    margin-bottom 20px

  .file-hidden
    position absolute
    width 0
    height 0
    opacity 0
    overflow hidden
    pointer-events none

  a.button
    display inline-block
    margin-bottom 0

  .file-display
    ellipsis()
    padding 20px 20px 12px
    background color-cta
    font-size 12px
    border-radius 3px
    color color-white
    font-weight normal
    position relative
    top 1px
    max-width 250px
    display inline-block
    margin-bottom -11px