.field-input
  position relative

  .file-hidden
    position absolute
    width 0
    height 0
    opacity 0
    overflow hidden
    pointer-events none

  .file-display
    padding 10px 20px 9px
    background color-cta
    font-size 12px
    border-radius 3px
    color color-white
    font-weight normal
    position relative
    top 1px