.heading-icon
  size = 120px

  display block
  margin auto
  // border 2px solid rgba(color-brand, .5)
  circle(size)
  position relative
  vertical-rhythm()
  background-color rgba(color-brand, .1)

  i
    absolute-center()
    color color-brand
    font-size size * .6