.wysiwyg-editor
  position relative

  .ql-toolbar.ql-snow
    border-color color-input-stroke
    border-radius 3px 3px 0 0

  .ql-container.ql-snow
    border-color color-input-stroke
    border-radius 0 0 3px 3px

  .ql-editor
    font-size 15px
    padding 25px 30px

    img
      max-width 100%

  .ql-hidden
    display none

  .ql-toolbar
    border-bottom 1px solid color-input-stroke

  button
    margin 0
    button-color(rgba(0, 0, 0, 0))
    color color-text
    padding 15px

    &, &:hover, &:focus:not(.disabled)
      box-shadow none

  input.ql-image
    position absolute
    opacity 0
    width 1px
    height 1px
    pointer-events none

  .ql-full-screen:after
    bg-image('ui/icon-full-screen', contain, false, false, 'svg')
    content ''
    width 18px
    height 18px
    display inline-block

  .ql-full-screen:hover:after
    bg-image('ui/icon-full-screen-hover', false, false, false, 'svg')

  &.fullscreen
    full-cover(fixed)
    z-index 99
    background color-white
    overflow auto
    
    .ql-container
      padding-top 40px

    .ql-toolbar
      position fixed
      left 0
      top 0
      width 100%
      background color-white
      z-index 999