@font-face
  font-family 'Gotham'
  src url(fonts-dir + 'gotham-bold-webfont.woff2') format('woff2'),
      url(fonts-dir + 'gotham-bold-webfont.woff') format('woff')
  font-weight bold
  font-style normal

@font-face
  font-family 'Gotham'
  src url(fonts-dir + 'gotham-bolditalic1-webfont.woff2') format('woff2'),
      url(fonts-dir + 'gotham-bolditalic1-webfont.woff') format('woff')
  font-weight bold
  font-style italic

@font-face
  font-family 'Gotham'
  src url(fonts-dir + 'gotham-light-webfont.woff2') format('woff2'),
      url(fonts-dir + 'gotham-light-webfont.woff') format('woff')
  font-weight 100
  font-style normal

@font-face
  font-family 'Gotham'
  src url(fonts-dir + 'gotham-lightitalic1-webfont.woff2') format('woff2'),
      url(fonts-dir + 'gotham-lightitalic1-webfont.woff') format('woff')
  font-weight 100
  font-style italic

@font-face
  font-family 'Gotham'
  src url(fonts-dir + 'gotham-medium1-webfont.woff2') format('woff2'),
      url(fonts-dir + 'gotham-medium1-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gotham'
  src url(fonts-dir + 'gotham-mediumitalic1-webfont.woff2') format('woff2'),
      url(fonts-dir + 'gotham-mediumitalic1-webfont.woff') format('woff')
  font-weight normal
  font-style italic