// Configuration
cacheId = 0000
assets-dir = '/assets/'
fonts-dir = '/font/'

// Fonts
font-base = 'Gotham', sans-serif
font-special = font-base
font-heading = font-special
font-size-base = 18px

// Heading sizezs
heading-size-base = 50px
heading-size-step = 10px

// Grayscale colors
color-black = #222
color-gray = #ddd
color-gray-light = #efefef
color-gray-lighter = #f5f5f5
color-gray-lightest = #f9f9f9
color-white = #fff
color-gray-dark = #aaa
color-gray-darker = #666
color-gray-darkest = #333

// Primary brand colors
color-brand = #32755a
color-brand-dark = #2b5a47
color-brand-darker = #26483a
color-brand-darkest = #22382f
color-brand-light = #41a37b
color-brand-lighter = #43be8c
color-brand-lightest = #4ce8a9

// CTA colors
color-cta = #cc4921
color-cta-dark = #ea633a
color-cta-darker = #cf4920
color-cta-darkest = #b23a15
color-cta-light = #da6542
color-cta-lighter = #eb8161
color-cta-lightest = #f5a087

// Semantic colors
color-link = color-brand
color-text = color-gray-darker
color-text-invert = color-white
color-bg = #fff
color-header = #000
color-heading = color-gray-darkest
admin-color-base = blue

// Alternate colors
color-alternate = #297771
color-alternate-dark = darken(color-alternate, 15%)
color-alternate-darker = darken(color-alternate, 20%)
color-alternate-light = mix(color-alternate, color-white, 30%)
color-alternate-lighter = mix(color-alternate, color-white, 10%)
color-alternate-lightest = mix(color-alternate, color-white, 5%)

// Basic colors
color-green = #3bb985
color-blue = #3997e7
color-aqua = #12d58e
color-red = #e5482f
color-yellow = #fcf49d
color-gold = #e6bc2a
color-orange = #edaf09
color-lightblue = #87deeb
color-lightred = #ef7575

// Social colors
color-linkedin = #0077b5
color-twitter = #55acee
color-facebook = #3b5999

// Semantic colors
color-success = color-green
color-danger = color-red
color-warning = color-yellow

// Layout sizes
page-size = 900px
header-size = 75px
header-spacing = 18px
footer-size = 60px
nav-width = 300px
spinner-size = 50px

// Breakpoints
breakpoint-mobile = 550px