.view-dashboard

    section.full-height: .inner: .page-width

        h3.center Dashboard

        .box.white.capped.center
            | Welcome, 
            strong {{ user.username }}

        ul.dashboard-menu
            li(v-for='(type, key) in config.schema.types'): a(:href='link("/" + key + "/list")') {{ type.label | pluralise }}
            li: a(v-if='user', :href='link("/statics")') Statics
            li: a(v-if='user', :href='link("/user/settings")') Settings